body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
  color: #111;
}

ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

/* img {
  display: block;
}
*/
address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1166px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.container-narrow {
  width: 1086px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*   ----- HEADER -----  */

.header-page {
  padding-top: 28px;
  padding-bottom: 28px;
}
.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
  margin-right: 100px;
}

.logo-part {
  font-style: italic;
}

.header-nav-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header-nav-item {
}

.header-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: #fd9222;
}

.header-soc-list {
  display: flex;
  margin-left: auto;
  gap: 18px;
}
.header-soc-item {
}
.header-soc-link {
}

/* ------- MAIN ------- */

.main-page {
}

/* - HERO - */

.hero {
  background-color: #1e1823;
  border-radius: 30px;
  padding-top: 371px;
  padding-bottom: 50px;
  margin-bottom: 72px;
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 32px;
  min-width: 484px;
}

.hero-buttoms {
  display: flex;
  align-items: center;
  gap: 14px;
}

.hero-buttun {
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background-color: #fd9222;
  border-radius: 100px;
  min-width: 144px;
  padding: 14px 40px;
}

.hero-buttun:hover,
.hero-buttun:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}

.hero-ancor-link {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 14px 40px;
}

.hero-ancor-link:hover,
.hero-ancor-link:focus {
  background-color: #fff;
  color: #fd9222;
}

.hero-scroll-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.03em;
  color: #fff;
  margin-left: auto;
}

.hero-scroll-link:hover,
.hero-scroll-link:focus {
  color: #fd9222;
}

/* - Features - */

.features {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.features-list {
  display: flex;
  gap: 70px;
}

.features-item {
  width: calc((100% - 140px) / 3);
}

.features-list-title {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.01em;
  color: #fff;
  margin-bottom: 18px;
}

.features-list-text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/*  - Teste  - */

.taste {
  padding-top: 100px;
  padding-bottom: 50px;
}
.taste-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 28px;
  max-width: 411px;
  margin-left: auto;
  margin-right: auto;
}

.taste-title span {
  color: #fd9222;
}

.taste-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  max-width: 486px;
}

.taste-list {
  display: flex;
  gap: 19px;
}

.taste-item {
  width: calc((100% - 3 * 19px) / 4);
  border: 1px solid #fd9222;
  border-radius: 15px;
  padding: 28px 32px;
}
.taste-list-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

/*  - Made -  */

.made {
  padding-top: 50px;
  padding-bottom: 50px;
}
.made-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}

.made-title span {
  color: #fd9222;
}
.made-div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.made-image {
  border-radius: 15px;
}

.made-sub-text {
  padding-left: 32px;
  padding-right: 27px;
}

.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  margin-bottom: 28px;
}
.made-list {
}

.made-item {
  margin-bottom: 24px;
}
.made-item:last-child {
  margin-bottom: 0;
}

.made-list-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/*  - Reviesws -  */

.reviews {
  padding-top: 50px;
  padding-bottom: 100px;
}

.reviews-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}

.reviews-title span {
  color: #fd9222;
}

.reviews-list {
  margin-bottom: 50px;
  display: flex;
  gap: 28px;
}

.reviews-item {
  width: calc((100% - 2 * 28px) / 3);
}

.reviews-item-images {
  display: block;
  margin: 0 auto;
  margin-bottom: 18px;
}

.foto-text {
  padding: 56px 24px 24px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
}

.reviews-list-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  text-align: center;
  margin-bottom: 24px;
}

.reviews-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.reviews-botton {
  font-weight: 600;
  font-size: 18px;
  color: #111;
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  margin: 0 auto;
  display: block;
}

.reviews-botton:hover,
.reviews-botton:focus {
  color: #fff;
  background-color: #fd9222;
}

/*  ----  FOOTER  -----  */

.footer-page {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 86px;
}

.footer-container-up {
  display: flex;
  justify-content: space-between;
  margin-bottom: 78px;
}

.footer-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #fff;
  max-width: 300px;
}

.footer-title span {
  color: #fd9222;
}

.footer-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: start;
  color: #fff;
}

.footer-adress {
}

.footer-adress-list {
}

.footer-adress-item {
}

.footer-adress-link {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
}

.footer-navigation {
}
.footer-navigation-list {
  display: flex;
  gap: 24px;
}
.footer-navigation-item {
}
.footer-navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: -0.02em;
  color: #fff;
}
